.flex-container-about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    color: var(--main-text-color);
}

.flex-child-about:nth-child(1) {

    text-align: center;
}

.about-text-container {
    margin-left: 30vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
    font-size: calc(12px + 1vw);
    color: var(--main-text-color);
}

.about-pic {
    width: (200px - 50vw);
    height: calc(250px + 30vw);
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.about-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1vw;
    gap: 9%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: var(--dark-bg-color);
}

.about-icon {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
    width: 6%;
}

.email-icon {
    margin-right: 12%;
}

@media (max-width: 700px) {
    .about-text-container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15%;
        margin-bottom: 70%;
        z-index: 1;
    }
    
    .about-icons {
        flex-direction: column;
        width: 20%;
        height: 100%;
        margin-left: 70%;
        gap: 20px;
    }

    .about-icon {
        width: 65%;
    }

    .email-icon {
        margin-right: 0;
        margin-bottom: 12%;
    }

    .about-icon p {
        display: none;
    }
}