.about-text-container {
    margin-left: 30%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-size: calc(9px + 0.5vw + 0.5vh);
    color: var(--main-text-color);
}

.about-text-container h2 {
    display: inline;
}

.cycle-words {
    font-size: calc(20px + 1vw + 1vh) !important;
}

.about-pic {
    width: (200px - 50vw);
    height: calc(240px + 35vw);
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.about-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1vw;
    gap: 4%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: var(--dark-bg-color);
}

.about-icon {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
}

.linkedin-icon {
    width: calc(20px + 4vw);
}

.github-icon {
    width: calc(20px + 4.5vw);
}

.spotify-icon {
    width: calc(20px + 5vw);
}

.instagram-icon {
    width: calc(20px + 3.7vw);
}

.phone-icon {
    width: calc(20px + 4.5vw);
}

.email-icon {
    width: calc(20px + 3.6vw);
}

.email-icon-container {
    margin-right: 10%;
}

.about-icon p {
    display: none;
}

@media (max-width: 800px) {
    .about-text-container {
        font-size: calc(5px + 0.5vw + 0.5vh);
        margin-left: 10%;
        margin-right: 20%;
        margin-top: 15%;
        margin-bottom: 70%;
        z-index: 1;
    }

    .cycle-words {
        font-size: calc(15px + 1vw + 1vh) !important;
    }
    
    .about-icons {
        flex-direction: column;
        width: 15%;
        height: 100%;
        margin-left: 85%;
        gap: 20px;
    }

    .email-icon-container {
        margin-right: 0;
        margin-bottom: 40%;
    }

    .linkedin-icon {
        width: calc(10px + 6.2vw);
    }
    
    .github-icon {
        width: calc(10px + 6.7vw);
    }

    .spotify-icon {
        width: calc(10px + 7.8vw);
    }
    
    .instagram-icon {
        width: calc(10px + 6vw);
    }
    
    .phone-icon {
        width: calc(10px + 7vw);
    }
    
    .email-icon {
        width: calc(10px + 6vw);
    }

    .about-icon p {
        display: none;
    }

    @media (max-height: 750px) {
        .about-pic {
            height: calc(200px + 10vw + 10vh);
        }

        .about-text-container {
            margin-top: 30% !important;
        }

    }

    @media (max-height: 700px) {
        .about-text-container {
            font-size: calc(3px + 0.5vw + 0.5vh);
            margin-top: 35% !important;
        }

        .cycle-words {
            font-size: calc(10px + 1vw + 1vh) !important;
        }

    }
}

@media (max-width: 500px) {
    .about-icon {
        width: 65%;
    }

    .about-text-container {
        margin-top: 5% !important;
    }

    @media (max-height: 850px) {
        .about-text-container {
            font-size: calc(4px + 0.5vw + 0.5vh);
        }

        .cycle-words {
            font-size: calc(20px + 1vh) !important;
        }

        .about-pic {
            height: calc(240px + 7vw + 10vh);
        }
    }

    @media (max-height: 750px) {
        .about-text-container {
            margin-top: 15% !important;
        }

        .about-pic {
            height: calc(200px + 7vw + 10vh);
        }
    }
}