.about-text-container {
    margin-left: 30vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
    font-size: calc(7px + 0.75vw);
    color: var(--main-text-color);
}

.about-text-container h2 {
    display: inline;
}

.cycle-words {
    font-size: calc(25px + 1vw) !important;
}

.about-pic {
    width: (200px - 50vw);
    height: calc(240px + 30vw);
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.about-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1vw;
    gap: 4%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: var(--dark-bg-color);
}

.about-icon {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
}

.linkedin-icon {
    width: calc(20px + 4vw);
}

.github-icon {
    width: calc(20px + 4.5vw);
}

.spotify-icon {
    width: calc(20px + 5vw);
}

.instagram-icon {
    width: calc(20px + 3.5vw);
}

.phone-icon {
    width: calc(20px + 4vw);
}

.email-icon {
    width: calc(20px + 3.5vw);
}

.email-icon-container {
    margin-right: 12%;
}

.about-icon p {
    display: none;
}


@media (max-width: 800px) {
    .about-text-container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15%;
        margin-bottom: 70%;
        z-index: 1;
    }
    
    .about-icons {
        flex-direction: column;
        width: 20%;
        height: 100%;
        margin-left: 70%;
        gap: 20px;
    }

    .email-icon-container {
        margin-right: 0;
        margin-bottom: 50%;
    }

    .linkedin-icon {
        width: calc(10px + 6vw);
    }
    
    .github-icon {
        width: calc(10px + 6.7vw);
    }

    .spotify-icon {
        width: calc(10px + 7.5vw);
    }
    
    .instagram-icon {
        width: calc(10px + 6vw);
    }
    
    .phone-icon {
        width: calc(10px + 7vw);
    }
    
    .email-icon {
        width: calc(10px + 6vw);
    }

    .about-icon p {
        display: none;
    }
}

@media (max-width: 500px) {
    .about-icon {
        width: 65%;
    }
}