@font-face {
    font-family: ceraPro;
    src: url(./Cera_Pro_Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

:root {
    --light-bg-color: rgb(54, 55, 68);
    --dark-bg-color: rgb(29, 30, 38);
    --main-text-color: rgb(242, 242, 242); /*#*/
    --accent-1-color: rgb(150, 128, 255); /*#9680ff2f2f2f*/
    --accent-2-color: rgb(128, 255, 234); /*#80ffea*/
    --accent-3-color: rgb(245, 214, 138); /*#f5d68a*/
    --nav-color: rgb(29, 30, 38);
}

body {
    font-family: 'Poppins', sans-serif;
} 

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    margin-right: 30px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}

nav li {
    display: inline-block;
    overflow: hidden;
    overflow-wrap: none;
}

nav li a {
	font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
    text-decoration: none;
    --h: 1.2em;   
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t, 0em)) rgb(242, 242, 242),
      0 calc(var(--h) - var(--_t, 0em)) var(--accent-1-color);
    overflow: hidden;
    transition: .3s;
}

nav li a:hover {
    --_t: var(--h);
}

nav li.active a {
    font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
    text-decoration: none;
    --h: 1.2em;   
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t, 0em)) var(--accent-1-color), 
      0 calc(var(--h) - var(--_t, 0em)) rgb(242, 242, 242);
    overflow: hidden;
    transition: .3s;
}

.navBar {
    font-weight: 400;
	width:100%;
    height: 8%;
    min-height: 57px;
    max-height: 57px;
    position: absolute;
    z-index: 5;
    background: var(--nav-color);
    overflow: hidden;
    transition: background-color 1s;
}

@media (max-width: 1150px) {

    .name-logo-container {
        width: 100%;
        font-size: calc(10px + 1vw) !important;
        margin-left: 0.5%;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .hamburger-button {
        position: absolute;
        top: 1em;
        right: 1rem;
        margin-right: 0.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
    }
    
    .hamburger-button .bar {
        height: 1px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

}

.name-logo-container {
    margin-top: 12px;
    font-size: calc(7px + 1vw)
}

.name-logo {
    float: left;
    margin-left: 3%;
    font-weight: 600;
    transition: color 3s;
}

.name-logo-dynamic {
    float: left;
    font-weight: 600;
    transition: color 3s;
}

.name-logo-color-1 {
    color: var(--accent-3-color);
}

.name-logo-color-2 {
    color: var(--accent-3-color);
}

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    float: left;
    font-weight: 600;
    --h: 1.2em;   
    line-height: var(--h);
    transition: color 3s;
}

.centerText {
    text-align: center;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.position-relative {
    position: relative;
}

.flex-center  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightBackground {
    background-color: var(--light-bg-color);
    background-size: cover;
}

.darkBackground {
    background-color: var(--dark-bg-color);
    background-size: cover;
}

.accent-1 {
    color: var(--accent-1-color);
}

.accent-2 {
    color: var(--accent-2-color);
}

/* Modifies fullpage*/
.fp-slidesNav ul {
    margin-left: 47% !important;
}

.fp-slidesNav ul li a span {
    background-color: var(--main-text-color) !important;
}

@media (max-width: 1200px) {
    /* Modifies fullpage*/
    .fp-slidesNav ul {
        margin-left: 46% !important;
    }
}

@media (max-width: 800px) {
    /* Modifies fullpage*/
    .fp-slidesNav ul {
        margin-left: 45% !important;
    }
}

@media (max-width: 600px) {
    /* Modifies fullpage*/
    .fp-slidesNav ul {
        margin-left: 43% !important;
    }
}

@media (max-width: 400px) {
    /* Modifies fullpage*/
    .fp-slidesNav ul {
        margin-left: 41% !important;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
  }
  
  @-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
  }
  
  @-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
  }
  
  @-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
  }
  
  @-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
  }