.guavahStyle {
    color: #E76D6C;
    font-family: ceraPro, sans-serif;
    font-size: calc(20px + 3vw);
}

.guavah-logo-container{
    background-color: var(--main-text-color);
    width: 15vw;
    height: 15vw;
    max-width: 300px;
    max-height: 300px;
    display: grid;
    place-content: center;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.4);
}

.guavah-logo-symbol{
    height: 22vw;
    width: 32vw;
}

.logo-icons-guavah {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
    margin-right: 5%;
} 

.logo-icons-guavah-2 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-right: 5%;
} 

.react-native-logo {
    width: calc(26px + 2vw);
    height: calc(26px + 2vw);
}

.pyhon-logo {
    width: calc(25px + 2vw);
    height: calc(25px + 2vw);
}

.aws-logo {
    width: calc(25px + 3vw);
    height: calc(25px + 3vw);
}

.fsq-logo {
    width: calc(18px + 2vw);
    height: (12px + 2vw);
}

.flutter-logo {
    width: calc(22px + 2.5vw);
    height: calc(22px + 2.5vw);
}

.dart-logo {
    width: calc(25px + 2.5vw);
    height: calc(25px + 2.5vw);
}

.js-logo {
    width: calc(25px + 3vw);
    height: (25px + 3vw);
}

.ts-logo {
    width: calc(25px + 2.5vw);
    height: (25px + 2.5vw);
}

.gcp-logo {
    width: calc(25px + 3vw);
    height: (25px + 3vw);
}

.firebase-logo {
    width: calc(20px + 2.5vw);
    height: (20px + 2.5vw);
}

.java-logo {
    width: calc(30px + 3vw);
    height: (30px + 3vw);
}

@media (max-width: 600px) {
    .guavah-logo-container {
        width: 27vw;
        height: 27vw;
    }

    .guavah-logo-symbol{
        height: 37vw;
        width: 47vw;
    }

    .logo-icons-guavah {
        gap: 15%;
    } 

    .logo-icons-guavah-2 {
        gap: 5%;
    } 
    
}