.flex-container-guavah {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: var(--main-text-color);
    vertical-align: middle;
}

.flex-child-guavah:nth-child(1) { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.flex-child-guavah:nth-child(2) {
    flex-basis: 55%;
    font-weight: 300;
}

.guavah-content {
    font-size: calc(10px + 1vw);
    margin-left: 5%;
    margin-right: 5%;
}

hr {
    display: none;
}

.vl {
    border-left: 3px solid white;
    height: 100%;
    border-color: #E76D6C;
}

.guavahStyle {
    color: #E76D6C;
    font-family: ceraPro, sans-serif;
    font-size: 4vw;
}

.guavahLink {
    color: #E76D6C;
    align-items: center;
}

.guavah-logo-container{
    background-color: var(--main-text-color);
    width: 17vw;
    height: 17vw;
    max-width: 300px;
    max-height: 300px;
    display: grid;
    place-content: center;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.4);
}

.guavah-logo-symbol{
    height: 25vw;
    width: 35vw;
}

.logo-icons-guavah {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
} 

.react-native-logo {
    width: calc(25px + 5vw);
    height: calc(20px + 4vw);
}

.pyhon-logo {
    width: calc(22px + 4vw);
    height: calc(22px + 4vw);
}

.aws-logo {
    width: calc(35px + 7vw);
    height: calc(20px + 4vw);
}

.fsq-logo {
    width: calc(10px + 3vw);
    height: (5px + 3vw);
}

@media (max-width: 1000px) {
    .flex-container-guavah {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .guavah-content {
        margin-left: 10%;
        margin-right: 10%;
    }

    .vl {
        display: none;
    }

    hr  {
        display: flex;
        border: none;
        border-bottom: 2px solid #E76D6C;
        width: 80%;
        margin-top: 2%;
    }

    @media (max-width: 600px) {

        .guavah-content {
            font-size: calc(14px + 1vw) !important;
        } 

        .guavah-logo-container {
            width: 27vw;
            height: 27vw;
        }
    
        .guavah-logo-symbol{
            height: 37vw;
            width: 47vw;
        }
    }
}