.sensible-logo {
  width: calc(60px + 14vw);
}

.logo-icons-sensible {
  display: inline-flex;
  justify-content: space-between;
  gap: 12%;
  align-items: center;
} 

.aws-logo-sensible {
  width: calc(25px + 3vw);
  height: calc(25px + 3vw);
}

.arch-logo {
  width: calc(20px + 2.5vw);
  height: calc(20px + 2.5vw);
}

@media  (max-width: 600px) {
  .logo-icons-sensible {
    gap: 10%;
  } 
}