.flex-container-publication {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    position: absolute;
}

.flex-child-publication:nth-child(1) { 
  margin-left: 7%;
  margin-right: 7%;
}

.flex-child-publication:nth-child(2) { 
  margin-right: 7%;
}

.publication-header-font-1 {
    font-size: calc(22px + 0.75vw);
    color: var(--main-text-color);
    text-shadow: 0px 0px 20px var(--accent-1-color);
}

.publication-header-font-2 {
    font-size: calc(22px + 0.75vw);
    color: var(--accent-3-color);
}

.publication-content-font-1 {
    font-size: calc(18px + 0.5vw);
    color: var(--main-text-color);
    display: inline;
}

.publication-content-font-2 {
    font-size: calc(18px + 0.5vw);
    color: var(--accent-3-color);
    display: inline;
}

.publication-content-font-3 {
    font-size: calc(18px + 0.5vw);
    color: var(--accent-1-color);
    display: inline;
}

.publication-pic-1 {
    width: calc(300px + 12vw) ;
    height: calc(100px 12vw);
    box-shadow: 0px 0px 30px var(--accent-3-color);
}

@media (max-height: 800px) {
  .publication-header-font-1 {
    font-size: calc(20px + 0.5vw);
  }

  .publication-header-font-2 {
      font-size: calc(20px + 0.5vw);
  }

  .publication-content-font-1 {
      font-size: calc(18px + 0.5vw);
  }

  .publication-content-font-2 {
      font-size: calc(18px + 0.5vw);
  }

  .publication-content-font-3 {
      font-size: calc(18px + 0.5vw);
  }
}

@media (max-width: 900px) {
  .flex-container-publication {
    flex-direction: column;
    justify-content: center;
  }

  .flex-child-publication:nth-child(1) { 
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .flex-child-publication:nth-child(2) { 
    margin: 0;
  }
}

@media (max-width: 400px) {

  .publication-header-font-1 {
      font-size: calc(13px + 1vw);
      margin-right: 5%;
  }

  .publication-header-font-2 {
      font-size: calc(15px + 1vw);
  }

  .publication-content-font-1 {
      font-size: calc(10px + 1vw);
  }

  .publication-content-font-2 {
      font-size: calc(10px + 1vw);
  }

  .publication-content-font-3 {
      font-size: calc(10px + 1vw);
  }

  .publication-pic-1 {
      width: calc(250px + 8vw) ;
      height: calc(50px 8vw);
  }

}