.initOS-logo {
    width: 25vw;
    height: 15vw;
    max-width: 400px;
    max-height: 200px;;
}

@media (max-width: 1000px) {
    @media (max-width: 600px) {
        .initOS-logo {
            width: 40vw;
            height: 20vw;
        }
    }
}