.flex-container-guavah {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: var(--main-text-color);
    vertical-align: middle;
}

.flex-child-guavah:nth-child(1) { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.flex-child-guavah:nth-child(2) {
    flex-basis: 55%;
    font-weight: 300;
}

.guavah-content {
    margin-left: 5%;
    margin-right: 5%;
}

.guavah-content h3 {
    display: inline;
    font-size: calc(10px + 0.75vw);
}

hr {
    display: none;
}

.vl {
    border-left: 3px solid;
    height: 100%;
    border-color: var(--accent-1-color);
}

.guavahStyle {
    color: #E76D6C;
    font-family: ceraPro, sans-serif;
    font-size: calc(20px + 3vw);
}

.guavahLink {
    color: var(--accent-3-color);
    align-items: center;
}

.guavah-logo-container{
    background-color: var(--main-text-color);
    width: 15vw;
    height: 15vw;
    max-width: 300px;
    max-height: 300px;
    display: grid;
    place-content: center;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.4);
}

.guavah-logo-symbol{
    height: 22vw;
    width: 32vw;
}

.logo-icons-guavah {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
    margin-right: 5%;
} 

.logo-icons-guavah-2 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-right: 5%;
} 

.react-native-logo {
    width: calc(26px + 2vw);
    height: calc(26px + 2vw);
}

.pyhon-logo {
    width: calc(25px + 2vw);
    height: calc(25px + 2vw);
}

.aws-logo {
    width: calc(25px + 3vw);
    height: calc(25px + 3vw);
}

.fsq-logo {
    width: calc(18px + 2vw);
    height: (12px + 2vw);
}

.flutter-logo {
    width: calc(22px + 2.5vw);
    height: calc(22px + 2.5vw);
}

.dart-logo {
    width: calc(25px + 2.5vw);
    height: calc(25px + 2.5vw);
}

.js-logo {
    width: calc(25px + 3vw);
    height: (25px + 3vw);
}

.ts-logo {
    width: calc(25px + 2.5vw);
    height: (25px + 2.5vw);
}

.gcp-logo {
    width: calc(25px + 3vw);
    height: (25px + 3vw);
}

.firebase-logo {
    width: calc(20px + 2.5vw);
    height: (20px + 2.5vw);
}

.java-logo {
    width: calc(30px + 3vw);
    height: (30px + 3vw);
}


@media (max-height: 750px) {
    .guavah-content h3 {
        font-size: calc(10px + 0.75vw);
    }
    
}

@media (max-width: 1000px) {
    .flex-container-guavah {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .guavah-content {
        margin-left: 10%;
        margin-right: 10%;
    }

    .vl {
        display: none;
    }

    hr  {
        display: flex;
        border: none;
        border-bottom: 2px solid #9680ff;
        width: 80%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    @media (max-width: 600px) {
        .guavah-content h3 {
            font-size: calc(10px + 0.75vw) !important;
        }

        .guavah-logo-container {
            width: 27vw;
            height: 27vw;
        }
    
        .guavah-logo-symbol{
            height: 37vw;
            width: 47vw;
        }

        .logo-icons-guavah {
            gap: 15%;
        } 

        .logo-icons-guavah-2 {
            gap: 5%;
        } 
        
    }
}